registry=https://registry.npmjs.org/
strict-ssl=false

# Basic auth for Nexus npm publish
@helix:registry=http://inpl-pun-nexus.indussoft.com:8081/nexus/repository/helix-frontend-npm-releases/
//inpl-pun-nexus.indussoft.com:8081/nexus/repository/helix-frontend-npm-releases/:username=nx-collection-developer
//inpl-pun-nexus.indussoft.com:8081/nexus/repository/helix-frontend-npm-releases/:_password=TmV4dXMtQ29sbC1EZXYxMjM=
//inpl-pun-nexus.indussoft.com:8081/nexus/repository/helix-frontend-npm-releases/:email=satish.khandekar1@ebixcash.com