{
  "BASE_API_PATH": "${BASE_API_PATH}",
  "BASE_FOLLOWUP_API_PATH": "${BASE_FOLLOWUP_API_PATH}",
  "BASE_RULEENINGE_API_PATH": "${BASE_RULEENINGE_API_PATH}",
  "BASE_KEYCLOAK_API_PATH": "${BASE_KEYCLOAK_API_PATH}",
  "BASE_HELIX_EARLY_COLLECTIONS_API_PATH": "${BASE_HELIX_EARLY_COLLECTIONS_API_PATH}",
  "BASE_HELIX_COL_LISTING_API_PATH": "${BASE_HELIX_COL_LISTING_API_PATH}",
  "BASE_UTILITY_API_PATH": "${BASE_UTILITY_API_PATH}",
  "BASE_INTEGRATION_FRAMEWORK_API_PATH": "${BASE_INTEGRATION_FRAMEWORK_API_PATH}",
  "BASE_DMS_API_PATH": "${BASE_DMS_API_PATH}",
  "LOG_LEVEL": "${LOG_LEVEL}",
  "ENV": "${ENV}",
  "BASE_AI_PREDICT_API_PATH": "${BASE_AI_PREDICT_API_PATH}",
  "BASE_ALLOCATION_API_PATH": "${BASE_ALLOCATION_API_PATH}",
  "BASE_COMMON_MASTER_API_PATH": "${BASE_COMMON_MASTER_API_PATH}",
  "BASE_HELIX_BATCH_MASTERS_API_PATH": "${BASE_HELIX_BATCH_MASTERS_API_PATH}",
  "BASE_HELIX_BATCH_EXECUTION_API_PATH": "${BASE_HELIX_BATCH_EXECUTION_API_PATH}",
  "ASSISTED_CALLING_BASE_URL": "${ASSISTED_CALLING_BASE_URL}",
  "ASSISTED_CALLING_API_KEY": "${ASSISTED_CALLING_API_KEY}",
  "CSP_CONNECT_ORIGIN": "${CSP_CONNECT_ORIGIN}"
}
